@mixin radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  // W3C SHOWS - WARNING: "is an unknown vendor extension"
}
@mixin transform($param) {
  transform: $param;
  -webkit-transform: $param;
  -moz-transform: $param;
  -ms-transform: $param;
  -o-transform: $param;
  // W3C SHOWS - WARNING: "is an unknown vendor extension"
}
@mixin transition($params) {
  transition: $params;
  -webkit-transition: $params;
  -moz-transition: $params;
  -ms-transition: $params;
  -o-transition: $params;
}

//  COLORS
$navbar: #314158;
$white: #ffffff;
$black: #000000;
$lblack: #2a2a2a;
$gray: #808080;
$lgray: #d3d3d3;
$blue: #4169e1;
$red: #dc143c;
// FONTS
$fontbody: "Montserrat";
$ficon: "home";
// SIZES
$maxsize: 1920px;
/* *********************** */
/* GENERAL STYLES */
li {
  list-style: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}
%control-elem {
  padding: 15px 15px 15px 20px;
  &:hover {
    background-color: rgba($color: $lblack, $alpha: 0.5);
  }
}
.active {
  background-color: rgba($color: $black, $alpha: 0.5);
  color: $white;
}

/* ***************** */

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: $fontbody;
  font-weight: normal;
}
.container {
  max-width: $maxsize;
}
#app {
  height: 100vh;
  display: flex;
  margin: auto;
}
.navbar {
  width: 60px;
  height: 100vh;
  background-color: $navbar;
  box-sizing: border-box;
  @include transition(width 0.7s);
  &__control {
    font-family: $fontbody;
    color: $red;
    @include transition(background-color 0.5s);
    @extend %control-elem;
    &::before {
      margin-right: 10px;
      content: "\e803";
      font-family: $ficon;
      font-size: 1.2rem;
      text-shadow: 1px 1px 3px rgba($color: $black, $alpha: 0.7);
    }
    &-title {
      display: none;
      vertical-align: middle;
      line-height: 1.2;
      font-size: 0.875rem;
      font-weight: 600;
      text-shadow: 1px 1px 3px rgba($color: $black, $alpha: 0.7);
    }
  }
}
.navbar__menu {
  // width: 60px;
  box-sizing: border-box;
  @extend %control-elem;
  cursor: pointer;
  &::before {
    margin-right: 10px;
    content: "\e802";
    font-family: $ficon;
    text-shadow: 1px 1px 1px rgba($color: $white, $alpha: 0.7),
      1px 1px 3px rgba($color: $black, $alpha: 0.7);
    &:enabled {
      text-shadow: 1px 1px 1px rgba($color: $black, $alpha: 0.7),
        1px 1px 3px rgba($color: $white, $alpha: 0.7);
    }
  }
  &-container {
    // width: 65px;
    width: 100%;
    height: 5%;
    padding-right: 5px;
    position: relative;
    z-index: 2;
    &:hover .menu {
      display: block;
      width: 160px;
      top: 0;
      left: 100%;
      position: absolute;
      z-index: 3;
      @include radius(4px);
      overflow: hidden;
    }
  }
  &-arrow {
    display: none;
    vertical-align: middle;
    font-size: 0.875rem;
    &::after {
      content: "\e800";
      margin-left: 18%;
      font-family: $ficon;
    }
  }
}
.menu {
  display: none;
  color: $white;
  background-color: #1f2d3d;
  &__item {
    padding: 10% 0 10% 20%;
    text-transform: uppercase;
    font-size: 0.75rem;
    &:hover {
      background-color: rgba($color: $black, $alpha: 0.5);
      @include transition(background-color 0.5s);
    }
  }
  &__item:nth-child(1)::before,
  &__item:nth-child(2)::before,
  &__item:nth-child(3)::before {
    font-family: $ficon;
    margin-right: 5%;
    margin-left: 2%;
    color: $blue;
  }
  &__item:nth-child(1)::before {
    content: "\f0ce";
  }
  &__item:nth-child(2)::before {
    content: "\e809";
  }
  &__item:nth-child(3)::before {
    content: "\e807";
  }
}
.catalog {
  width: 100%;
  padding-top: 10px;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 2%;
  overflow-y: auto;
  &__content {
    width: 100%;
    overflow-x: auto;
  }
}
nav {
  height: 35px;
  display: flex;
  justify-content: space-between;
}

.navbar-gamburger {
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 1.5rem;
  text-align: center;
  color: $lblack;
  @include transform(rotate(90deg));
  @include transition(transform 0.7s);
  cursor: pointer;
}
.gamburger-rotate {
  @include transform(rotate(180deg));
}

.icon-paw:before {
  content: "\f1b0";
  font-family: $ficon;
  font-size: 1.5rem;
  padding: 5px;
}

.routes {
  display: inline-block;
  &__home {
    font-size: (14 / 16) + rem;
  }
}

.nav-container-1 {
  width: 30%;
}

.nav-container-2 {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  button {
    width: 80px;
    height: 30px;
    margin: 1%;
    display: none;
    border: 1px solid $lblack;
    @include radius(2px);
    background-color: $lblack;
    box-shadow: 0 1px 5px rgba($color: $black, $alpha: 0.5);
    color: $white;
    cursor: pointer;
    &:hover {
      color: $red;
    }
  }
}

button.disabled {
  border: none;
  background-color: rgba($color: $gray, $alpha: 0.3);
  box-shadow: none;
  cursor: not-allowed;
  &:hover {
    color: $white;
  }
}

#pagination-container {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.7rem;
  span {
    width: 15px;
    height: 15px;
    margin: 1px;
    text-align: center;
    border: 1px solid $lgray;
    display: inline-block;
    vertical-align: middle;
  }
}

#data-json {
  display: none;
  width: 100%;
  // height: 85vh;
  min-width: 768px;
  margin-top: 30px;
  border: 1px solid $gray;
  tr {
    height: 34px;
  }
  tr:nth-of-type(odd) {
    background-color: $lgray;
  }
  tr:hover {
    background-color: $gray;
    cursor: default;
  }
  th {
    width: auto;
    padding-left: 0.5%;
    padding-right: 0.5%;
    text-align: left;
    line-height: 2;
    font-size: 1.2vw;
    cursor: pointer;
    color: $white;
    background-color: $lblack;
    &:last-of-type {
      width: 7%;
    }
    .icon-sort-name {
      display: inline-block;
      @include transition(transform 0.3s);
      text-align: center;
      font-style: normal;
    }
    &:hover {
      color: $red;
    }
  }
  td {
    padding-left: 0.5%;
    padding-right: 1%;
    line-height: 1.5;
    // font-size: (14 / 16) + rem;
    font-size: 1.2vw;
  }
  td:nth-of-type(6)::before {
    content: "$ ";
  }
  select {
    width: 100%;
    border: none;
    text-transform: capitalize;
    background-color: $lblack;
    font-size: 1.2vw;
    font-weight: bold;
    color: $white;
    cursor: pointer;
    &:hover {
      color: $red;
    }
    option {
      width: 90%;
    }
  }
}
