@mixin radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  // W3C SHOWS - WARNING: "is an unknown vendor extension"
}
@mixin transform($param) {
  transform: $param;
  -webkit-transform: $param;
  -moz-transform: $param;
  -ms-transform: $param;
  -o-transform: $param;
  // W3C SHOWS - WARNING: "is an unknown vendor extension"
}
@mixin transition($params) {
  transition: $params;
  -webkit-transition: $params;
  -moz-transition: $params;
  -ms-transition: $params;
  -o-transition: $params;
}

//  COLORS
$navbar: #314158;
$white: #ffffff;
$lblack: #2a2a2a;
$gray: #808080;
$lgray: #d3d3d3;
$red: #dc143c;
// FONTS
$fontbody: "Montserrat";
// SIZES
$maxsize: 1200px;
/* *********************** */
/* GENERAL STYLES */
li {
  list-style: none;
}
a {
  text-decoration: none;
}
%control-elem {
  height: 40px;
  padding-top: 15px;
  padding-left: 20px;
  &:hover {
    background-color: rgba($color: $lblack, $alpha: 0.5);
  }
}
/* ***************** */

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: $fontbody;
  font-weight: normal;
}
.container {
  max-width: $maxsize;
}
#app {
  height: 100vh;
  display: flex;
}
.navbar {
  width: 60px;
  height: 100%;
  background-color: $navbar;
  box-sizing: border-box;
  @include transition(width 0.7s);
  &__control {
    display: block;
    font-family: $fontbody;
    text-align: left;
    color: $red;
    @include transition(background-color 0.5s);
    @extend %control-elem;
    &::before {
      margin-right: 10px;
      content: "\e803";
      font-family: "home";
      font-size: 1.2rem;
    }
  }
  &__control-title {
    font-size: 0.875rem;
    font-weight: 600;
  }
  &__control-title {
    display: none;
  }
}
.navbar-menu {
  @extend %control-elem;
  &::before {
    content: "\e802";
    font-family: "home";
  }
  &::after {
    content: "\e800";
    margin-left: 18%;
    font-family: "home";
    cursor: pointer;
  }
}
.menu {
  display: none;
  height: 40px;
}
.catalog {
  width: 100%;
  padding-top: 2%;
  &__content {
    padding-top: 4%;
  }
}
nav {
  width: 200px;
  padding-left: 2%;
  display: flex;
}

.navbar-gamburger {
  width: 30px;
  height: 30px;
  font-size: 1.5rem;
  text-align: center;
  color: $lblack;
  @include transform(rotate(90deg));
  @include transition(transform 0.7s);
  cursor: pointer;
}
.gamburger-rotate {
  @include transform(rotate(180deg));
}
// .logo {
// }
.icon-paw:before {
  content: "\f1b0";
  font-family: "home";
  font-size: 1.5rem;
  padding: 5px;
  overflow: hidden;
}
#data-json {
  margin-left: 2%;
  border: 1px solid $gray;
  th {
    padding-left: .5%;
    text-align: left;
  }
  tr:nth-of-type(even) {
    background-color: $lgray;
  }
  tr:hover {
    background-color: $gray;
    cursor: default;
  }
  td {
    padding-left: .5%;
  }
}
/* .icon-down-open-big:before { content: '\e800'; } 
.icon-th-large:before { content: '\e801'; } 
.icon-list:before { content: '\e802'; } 
.icon-looped-square-interest:before { content: '\e803'; } 
.icon-chart-bar:before { content: '\e804'; } 
.icon-th-list:before { content: '\e805'; } 
.icon-eye:before { content: '\e806'; } 
.icon-sort-name-up:before { content: '\f15d'; }
.icon-sort-name-down:before { content: '\f15e'; } 
.icon-paw:before { content: '\f1b0'; } */
