/* *********************** */
/* GENERAL STYLES */
li {
  list-style: none;
  cursor: pointer; }

a {
  text-decoration: none; }

.navbar__control, .navbar__menu {
  padding: 15px 15px 15px 20px; }
  .navbar__control:hover, .navbar__menu:hover {
    background-color: rgba(42, 42, 42, 0.5); }

.active {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff; }

/* ***************** */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Montserrat";
  font-weight: normal; }

.container {
  max-width: 1920px; }

#app {
  height: 100vh;
  display: flex;
  margin: auto; }

.navbar {
  width: 60px;
  height: 100vh;
  background-color: #314158;
  box-sizing: border-box;
  transition: width 0.7s;
  -webkit-transition: width 0.7s;
  -moz-transition: width 0.7s;
  -ms-transition: width 0.7s;
  -o-transition: width 0.7s; }
  .navbar__control {
    font-family: "Montserrat";
    color: #dc143c;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s; }
    .navbar__control::before {
      margin-right: 10px;
      content: "\e803";
      font-family: "home";
      font-size: 1.2rem;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); }
    .navbar__control-title {
      display: none;
      vertical-align: middle;
      line-height: 1.2;
      font-size: 0.875rem;
      font-weight: 600;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); }

.navbar__menu {
  box-sizing: border-box;
  cursor: pointer; }
  .navbar__menu::before {
    margin-right: 10px;
    content: "\e802";
    font-family: "home";
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7), 1px 1px 3px rgba(0, 0, 0, 0.7); }
    .navbar__menu::before:enabled {
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7), 1px 1px 3px rgba(255, 255, 255, 0.7); }
  .navbar__menu-container {
    width: 100%;
    height: 5%;
    padding-right: 5px;
    position: relative;
    z-index: 2; }
    .navbar__menu-container:hover .menu {
      display: block;
      width: 160px;
      top: 0;
      left: 100%;
      position: absolute;
      z-index: 3;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      overflow: hidden; }
  .navbar__menu-arrow {
    display: none;
    vertical-align: middle;
    font-size: 0.875rem; }
    .navbar__menu-arrow::after {
      content: "\e800";
      margin-left: 18%;
      font-family: "home"; }

.menu {
  display: none;
  color: #ffffff;
  background-color: #1f2d3d; }
  .menu__item {
    padding: 10% 0 10% 20%;
    text-transform: uppercase;
    font-size: 0.75rem; }
    .menu__item:hover {
      background-color: rgba(0, 0, 0, 0.5);
      transition: background-color 0.5s;
      -webkit-transition: background-color 0.5s;
      -moz-transition: background-color 0.5s;
      -ms-transition: background-color 0.5s;
      -o-transition: background-color 0.5s; }
  .menu__item:nth-child(1)::before, .menu__item:nth-child(2)::before, .menu__item:nth-child(3)::before {
    font-family: "home";
    margin-right: 5%;
    margin-left: 2%;
    color: #4169e1; }
  .menu__item:nth-child(1)::before {
    content: "\f0ce"; }
  .menu__item:nth-child(2)::before {
    content: "\e809"; }
  .menu__item:nth-child(3)::before {
    content: "\e807"; }

.catalog {
  width: 100%;
  padding-top: 10px;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 2%;
  overflow-y: auto; }
  .catalog__content {
    width: 100%;
    overflow-x: auto; }

nav {
  height: 35px;
  display: flex;
  justify-content: space-between; }

.navbar-gamburger {
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 1.5rem;
  text-align: center;
  color: #2a2a2a;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transition: transform 0.7s;
  -webkit-transition: transform 0.7s;
  -moz-transition: transform 0.7s;
  -ms-transition: transform 0.7s;
  -o-transition: transform 0.7s;
  cursor: pointer; }

.gamburger-rotate {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg); }

.icon-paw:before {
  content: "\f1b0";
  font-family: "home";
  font-size: 1.5rem;
  padding: 5px; }

.routes {
  display: inline-block; }
  .routes__home {
    font-size: 0.875rem; }

.nav-container-1 {
  width: 30%; }

.nav-container-2 {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap; }
  .nav-container-2 button {
    width: 80px;
    height: 30px;
    margin: 1%;
    display: none;
    border: 1px solid #2a2a2a;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    background-color: #2a2a2a;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    cursor: pointer; }
    .nav-container-2 button:hover {
      color: #dc143c; }

button.disabled {
  border: none;
  background-color: rgba(128, 128, 128, 0.3);
  box-shadow: none;
  cursor: not-allowed; }
  button.disabled:hover {
    color: #ffffff; }

#pagination-container {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.7rem; }
  #pagination-container span {
    width: 15px;
    height: 15px;
    margin: 1px;
    text-align: center;
    border: 1px solid #d3d3d3;
    display: inline-block;
    vertical-align: middle; }

#data-json {
  display: none;
  width: 100%;
  min-width: 768px;
  margin-top: 30px;
  border: 1px solid #808080; }
  #data-json tr {
    height: 34px; }
  #data-json tr:nth-of-type(odd) {
    background-color: #d3d3d3; }
  #data-json tr:hover {
    background-color: #808080;
    cursor: default; }
  #data-json th {
    width: auto;
    padding-left: 0.5%;
    padding-right: 0.5%;
    text-align: left;
    line-height: 2;
    font-size: 1.2vw;
    cursor: pointer;
    color: #ffffff;
    background-color: #2a2a2a; }
    #data-json th:last-of-type {
      width: 7%; }
    #data-json th .icon-sort-name {
      display: inline-block;
      transition: transform 0.3s;
      -webkit-transition: transform 0.3s;
      -moz-transition: transform 0.3s;
      -ms-transition: transform 0.3s;
      -o-transition: transform 0.3s;
      text-align: center;
      font-style: normal; }
    #data-json th:hover {
      color: #dc143c; }
  #data-json td {
    padding-left: 0.5%;
    padding-right: 1%;
    line-height: 1.5;
    font-size: 1.2vw; }
  #data-json td:nth-of-type(6)::before {
    content: "$ "; }
  #data-json select {
    width: 100%;
    border: none;
    text-transform: capitalize;
    background-color: #2a2a2a;
    font-size: 1.2vw;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer; }
    #data-json select:hover {
      color: #dc143c; }
    #data-json select option {
      width: 90%; }
